@model TicketingSystem.Web.Models.Accounts.LoginViewModel

@{
    ViewBag.Title = "Log in";
}

<hgroup class="title">
    <h3>@ViewBag.Title.</h3>
</hgroup>

<div class="row-fluid">
    <div class="span12">
        <section id="loginForm">
            @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <fieldset class="form-horizontal">
                    <legend>Use a local account to log in.</legend>
                    <div class="control-group">
                        @Html.LabelFor(m => m.UserName, new { @class = "control-label" })
                        <div class="controls">
                            @Html.TextBoxFor(m => m.UserName)
                            @Html.ValidationMessageFor(m => m.UserName, null, new { @class = "help-inline" })
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                        <div class="controls">
                            @Html.PasswordFor(m => m.Password)
                            @Html.ValidationMessageFor(m => m.Password, null, new { @class = "help-inline" })
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(m => m.RememberMe, new { @class = "control-label" })
                        <div class="controls">
                            @Html.EditorFor(m => m.RememberMe)
                        </div>
                    </div>

                    <div class="controls-row clearfix">
                        <div class="right">
                            <input type="submit" value="Log in" class="btn btn-success" />
                            <a class="btn btn-inverse" href='@Url.Action("Index", "Home")'>Cancel</a>
                        </div>
                    </div>
                </fieldset>
                <p>
                    @Html.ActionLink("Register", "Register") if you don't have a local account.
                </p>
            }
        </section>
    </div>
</div>

<div class="row-fluid">
    <div class="span12">
        <section id="socialLoginForm">

            @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}