@model IEnumerable<TicketSummaryViewModel>

@{
    this.ViewBag.Title = "ListAll";
}

<h2>ListAll</h2>


@using (Html.BeginForm("ListAll", "Tickets", FormMethod.Get))
{
    <div class="control-group">
        Search by category
        <div class="controls">
            @Html.DropDownList("categoryFilter", (IEnumerable<SelectListItem>)ViewBag.Categories)
            <input type="submit" value="Search" />
        </div>
    </div>
}


<p>
    @this.Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @this.Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @this.Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th>
            @this.Html.DisplayNameFor(model => model.AuthorName)
        </th>
        <th>
            @this.Html.DisplayNameFor(model => model.Priority)
        </th>
        <th></th>
    </tr>

    @foreach (var item in this.Model)
    {
        <tr>
            <td>
                @this.Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @this.Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @this.Html.DisplayFor(modelItem => item.AuthorName)
            </td>
            <td>
                @this.Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td>
                <span class="btn">
                    @this.Html.ActionLink("Details", "Details", new { id = item.Id })
                </span>

                <span class="btn"> @this.Html.ActionLink("Edit", "Edit", new { id = item.Id }) </span>
                <span class="btn"> @this.Html.ActionLink("Delete", "Delete", new { id = item.Id }) </span>
            </td>
        </tr>
    }
</table>

<div class="pagination">
    <ul>
        @for (int i = 1; i <= this.ViewBag.Pages; i++)
        {
            <li> @this.Html.ActionLink(i.ToString(), "ListAll", new { id = i, category = 1 }) </li>
        }
    </ul>
</div>
