@using TicketingSystem.Web.Models.Categories;

@model IEnumerable<CategorySummaryViewModel>
@{
    this.ViewBag.Title = "Ticketing System - Home";
}

<h3>Hot tickets</h3>


@for (int i = 0; i < this.Model.Count(); i++)
{
    var category = this.Model.ElementAt(i);

    if (i < this.Model.Count() && i % 3 == 0)
    {
    @:<div class="row-fluid">
    }
    
        <div class="span4 page-index">
            <h4>
                <a href="@this.Url.Action("Details", "Categories", new { id = category.Id })">
                    @category.Name
                </a>
            </h4>
            <em class="muted block">(@category.Tickets.Count() tickets)</em>
            <ul>
                @for (int j = 0; j < category.Tickets.Count(); j++)
                {
                    var ticket = category.Tickets[j];
                    <li>
                        <a href="@this.Url.Action("Details", "Tickets", new { id = ticket.Id })">
                            @category.Name
                        </a>
                        <em class="muted block">(@ticket.CommentsCount comments)</em>
                    </li>
                }
            </ul>

        </div>
    
        if ((i > 0 && (i + 1) % 3 == 0) || i == this.Model.Count() - 1)
        {
                @:</div>
        }
}