@using TicketingSystem.Web.Models.Categories;

@model IEnumerable<CategorySummaryViewModel>
@{
    this.ViewBag.Title = "Ticketing System - Home";
}

<h3>Hot tickets</h3>
<div class="page page-index">

    @for (int i = 0; i < this.Model.Count(); i++)
    {
        var category = this.Model.ElementAt(i);

        if (i < this.Model.Count() && i % 3 == 0)
        {
            @:<div class="row-fluid">
    }

        <div class="span4 items-list">
            <h4>
                <a class="block" href="@this.Url.Action("Details", "Categories", new { id = category.Id })">
                    @category.Name
                </a>
            </h4>
            <span class="muted block hint">(@category.Tickets.Count() tickets)</span>
            <ul class="sub-items-list">
                @for (int j = 0; j < category.Tickets.Count(); j++)
                {
                    var ticket = category.Tickets[j];
                    <li class="sub-item">
                        <a class="block" href="@this.Url.Action("Details", "Tickets", new { id = ticket.Id })">
                            @category.Name
                        </a>
                        <span class="muted block hint">(@ticket.CommentsCount comments)</span>
                    </li>
                }
            </ul>

        </div>

        if ((i > 0 && (i + 1) % 3 == 0) || i == this.Model.Count() - 1)
        {
            @:</div>
        }
    }
</div>