@model TicketDetailsViewModel

<div class="row-fluid ticket-header">
    <div class="span10">
        <header>
            <h4 class="ticket-title">@this.Model.Title</h4>
        </header>
    </div>
    <div class="span2">
        @if ((bool)ViewData["RenderButtons"] && User.Identity.IsAuthenticated)
        {
            <div class="ticket-actions right clearfix">
                <a class="btn btn-info" href='@Url.Action("Edit", new {id=this.Model.Id})'>Edit</a>
                <a class="btn btn-danger" href='@Url.Action("Delete", new {id=this.Model.Id})'>Delete</a>
            </div>
        }
    </div>
</div>

<div class="row-fluid separate">
    <div class="span8">
        <div class="ticket-details-wrap">
            <span class="ticket-info header">Category:</span>
            <span class="ticket-info content">
                <a href="@this.Url.Action("Details", "Categories", new { id = this.Model.CategoryId })">
                    @this.Model.CategoryName
                </a>
            </span>
        </div>
        <div class="ticket-details-wrap">
            <span class="ticket-info header">Priority:</span>
            <span class="ticket-info content">@this.Model.Priority</span>
        </div>
        <div class="ticket-details-wrap">
            <span class="ticket-info header">Status:</span>
            <span class="ticket-info content">@this.Model.Status</span>
        </div>

        <div class="ticket-details-wrap">
            <span class="ticket-info header">Open by:</span>
            <span class="ticket-info content">@this.Model.AuthorName</span>
        </div>
    </div>
</div>

<div class="row-fluid separate">
    <div class="ticket-details-wrap span12">
        <span class="ticket-info header">Description:</span>
        <span class="ticket-info content">@this.Model.Description</span>
    </div>
</div>